{
  "settings": {
    "import/resolver": {
      "typescript": {
        "project": [
          "tsconfig.json",
          "frontend/tsconfig.json",
          "backend/tsconfig.json",
          "backend/services/*/tsconfig.json",
        ],
        "alwaysTryTypes": true,
      },
    },
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"],
    },
  },
  "rules": {
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          ["parent", "sibling"],
          "index",
          "object",
          "type",
        ],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "builtin",
            "position": "before",
          },
          {
            "pattern": "react-**",
            "group": "builtin",
            "position": "before",
          },
          {
            "pattern": "@",
            "group": "internal",
            "position": "before",
          },
          {
            "pattern": "@/**",
            "group": "internal",
            "position": "before",
          },
          {
            "pattern": "@components",
            "group": "internal",
            "position": "before",
          },
          {
            "pattern": "@components/**",
            "group": "internal",
            "position": "before",
          },
          {
            "pattern": "@services",
            "group": "internal",
            "position": "before",
          },
          {
            "pattern": "@services/**",
            "group": "internal",
            "position": "before",
          },
          {
            "pattern": "@hooks",
            "group": "internal",
            "position": "before",
          },
          {
            "pattern": "@hooks/**",
            "group": "internal",
            "position": "before",
          },
          {
            "pattern": "@shared",
            "group": "internal",
            "position": "before",
          },
          {
            "pattern": "@shared/**",
            "group": "internal",
            "position": "before",
          },
          {
            "pattern": "@messages",
            "group": "internal",
            "position": "before",
          },
          {
            "pattern": "@messages/**",
            "group": "internal",
            "position": "before",
          },
          {
            "pattern": "@types",
            "group": "internal",
            "position": "before",
          },
          {
            "pattern": "@types/**",
            "group": "internal",
            "position": "before",
          },
          {
            "pattern": "@utils",
            "group": "internal",
            "position": "before",
          },
          {
            "pattern": "@utils/**",
            "group": "internal",
            "position": "before",
          },
          {
            "pattern": "@my-backend/**",
            "group": "internal",
            "position": "before",
          },
        ],
        "pathGroupsExcludedImportTypes": ["react", "react-dom"],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true,
        },
        "newlines-between": "always",
      },
    ],
  },
}
