# Logs
logs
*.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.direnv
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

**data.db
# Other Files
*.txt
*.pdf
