  /* Tailwind's utility classes */
  @import "tailwindcss";


  @theme {
	--font-display: "Satoshi", "sans-serif";
	--breakpoint-3xl: 1920px;
	--color-primary: oklch(88.3% 0.1288 203.73);
	--color-secondary: oklch(13.51% 0.0749 266.57);
	--color-avocado-100: oklch(0.99 0 0);
	--color-avocado-200: oklch(0.98 0.04 113.22);
	--color-avocado-300: oklch(0.94 0.11 115.03);
	--color-avocado-400: oklch(0.92 0.19 114.08);
	--color-avocado-500: oklch(0.84 0.18 117.33);
	--color-avocado-600: oklch(0.53 0.12 118.34);
	--ease-fluid: cubic-bezier(0.3, 0, 0, 1);
	--ease-snappy: cubic-bezier(0.2, 0, 0, 1);
	/* ... */
  }

  @font-face {
	font-family: "kotak";
	src: url("./assets/fonts/kotak.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: "cube";
	src: url("./assets/fonts/Cube.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
	font-family: "collision";
	src: url("./assets/fonts/Collision.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
	font-family: "pursue";
	src: url("./assets/fonts/Pursue.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
	font-family: "slice";
	src: url("./assets/fonts/slice.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
	font-family: "dayger";
	src: url("./assets/fonts/Dayger.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
	font-family: "shinyBlocks";
	src: url("./assets/fonts/ShinyBlocks.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
  }

.logo {
	font-family: "dayger", serif;
  }

@theme {

}